# ------------------------------
# Frontend (React + Vite)
# ------------------------------

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build artifacts
node_modules
dist
.images
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.vite
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ------------------------------
# Backend (Go)
# ------------------------------

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
dist
seeder
storage
file-server
**/*debug*

# Test binary, built with go test -c
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# Environment file
.env

# Miscellaneous files
*.vim
